*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(1, 143, 153);
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.box{
    width: 4rem;
    height: 4rem;
    background-color: rgb(2, 100, 55);
}